In [1]:
if True:
    print('if statement')

if statement

In [2]:
if False:
    print('False statement')

In [3]:
db_username = 'mohan'

In [10]:
user_name = input('Enter a user name: ')

Enter a user name: mohan

In [11]:
db_username

'mohan'

In [12]:
user_name

'mohan'

In [13]:
if db_username == user_name: # 'mohan' == 'ravi'
    print('User valid')

User valid

In [8]:
'mohan' == 'ravi'

False

In [9]:
'mohan' == 'mohan'

True

In [14]:
a = 100
b = 100
c = 200

In [17]:
if a==b:
    print('a and b are same')

a and b are same

In [18]:
if a==c:
    print('a and c are same')

In [20]:
db_username = 'venkat'
db_password = 'password123'

In [28]:
front_end_username = 'venkata'
front_end_password = 'password123'

In [29]:
if front_end_username == db_username:
    print('user is valid')
    if front_end_password == db_password:
        print('password valid')

In [33]:
value1 = 100
value2 = 200

if value1 == value2:
    print('numbers are same')
else:
    print('numbers are not same')

numbers are not same

In [34]:
value1 == value2

False

In [35]:
# Intendation

In [37]:
# if,for,while,def and class

# if condition:
#     print('a')

In [43]:
name = 'sai'

if name == 'sai':
    print('one')
if name == 'sai':
    print('two')
if name == 'sai':
    print('three')
if name == 'sais':
    print('four')
else:
    print('four else')

one
two
three
four else

In [45]:
value = 100

if value == 100:
    print('one')
elif value == 200:
    print('two')
elif value == 300:
    print('three')
elif value == 100:
    print('four')
else:
    print('else')

one

In [46]:
value = 100

if value == 400:
    print('one')
elif value == 200:
    print('two')
elif value == 300:
    print('three')
elif value == 100:
    print('four')
else:
    print('else')

four

In [49]:
value = 100

if value == 1000:
    print('one')
elif value == 200:
    print('two')
elif value == 100:
    print('three')
elif value == 200:
    print('four')
else:
    print('else')

three

In [57]:
name = 'venkat'
password = 'pass123'

db_name = 'venkat'
db_password = 'pass123'

if name == db_name and password == db_password:
    print('{} logged-in sucessfully'.format(name.upper()))
else:
    print("Please check username and password")

VENKAT logged-in sucessfully

In [52]:
if True and True:
    print('ok')
else:
    print('not ok')

ok

In [53]:
if True and False:
    print('ok')
else:
    print('not ok')

not ok

In [58]:
# # for 
# # while
# # class
# # def
# # with
# abc

In [65]:
name = 'venkat'
password = 'pass123'

db_name = 'venkata'
db_password = 'pass123'

if name == db_name:
    if password == db_password:
        print('User logged-in sucessfully')
    else:
        print('Wrong password')
else:
    print('User does not exist')

User does not exist

In [66]:
'p' in 'python'

True

In [67]:
'q' in 'python'

False

In [68]:
if 'p' in 'python':
    print('character exists')

character exists

In [69]:
if 'q' in 'python':
    print('character exists')
else:
    print('character does not exists')

character does not exists

In [70]:
100 in [100,200,'mohan']

True

In [71]:
100 is 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\nanip\AppData\Local\Temp\ipykernel_1360\738435217.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  100 is 100

True

In [74]:
101 in range(1,100)

False

In [75]:
dt = {'name':'venkat','age':31}

In [76]:
'name' in dt

True

In [77]:
'venkat' in dt

False

In [78]:
if 'age' in dt:
    print('Key exists')

Key exists

In [79]:
if 100>20:
    print('hello')

hello