# Range

In [6]:
for value in range(1,5):
    print(value)

1
2
3
4

In [5]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for value in range(5):
    print(value)

0
1
2
3
4

In [8]:
for value in range(1,10,2):
    print(value)

1
3
5
7
9

In [ ]:
range(1,10,2) # range(start,end,step)

# string

In [10]:
st = 'python'

In [11]:
for i in st:
    print(i)

p
y
t
h
o
n

In [12]:
for i in 'python is a joke':
    print(i)

p
y
t
h
o
n

i
s

a

j
o
k
e

In [13]:
name = 'mohan'

for char in name:
    print(char)

m
o
h
a
n

# List

In [18]:
lst = ['ravi','mohan','sai','venky']

for i in lst:
    print(i)

ravi
mohan
sai
venky

In [20]:
for i in lst:
    print(i[:2] + ' python')

ra python
mo python
sa python
ve python

In [21]:
l = [400,300,200,100]
for mohan in l:
    print(mohan)

400
300
200
100

# Tuple

In [22]:
t = (200,'mohan',12.34,True)

for value in t:
    print(value)

200
mohan
12.34
True

# Dict

In [23]:
dt = {'name':'venky','age':30,'salary':50000}

In [24]:
dt

{'name': 'venky', 'age': 30, 'salary': 50000}

In [25]:
for i in dt:
    print(i)

name
age
salary

In [29]:
for key in dt:
    print(key,dt[key]) # 'name' --> dt['name']

name venky
age 30
salary 50000

# Length

In [30]:
st = 'python'

In [31]:
len(st)

6

In [32]:
for i in range(len(st)):  # range(6)
    print(i)

0
1
2
3
4
5

In [33]:
lst = [100,200,300]

In [34]:
len(lst)

3

In [35]:
for i in range(len(lst)):
    print(i)

0
1
2