In [1]:
# Function -  It is a block of reusable code

In [7]:
def sum():
    a = 100
    b = 200
    c = a + b
    print(c)

In [8]:
sum()

300

In [9]:
print(sum())

300
None

In [16]:
def sum_of_two():
    a = 100
    b = 200
    c = a + b
    return c

In [17]:
sum_of_two()

300

In [12]:
def sum():
    a = 100
    b = 200
    c = a + b
    return 'hello python'

In [18]:
print(sum())
print(sum())
print(sum())
sum_of_two()

hello python
hello python
hello python

300

In [21]:
def sum_of_given_nums(a,b):   # a & b are arguments
    print('a -',a)
    print('b -',b)
    c = a+b
    return c

In [22]:
sum_of_given_nums(1,2)

a - 1
b - 2

3

In [23]:
sum_of_given_nums(10,20)

a - 10
b - 20

30

In [24]:
sum_of_given_nums(-10,20)

a - -10
b - 20

10

In [28]:
def sample_sum(a,b):   # a & b are arguments
    return a+b

In [26]:
sample_sum(1,2)

3

In [27]:
sample_sum(-10,20)

10

In [29]:
def to_upper(name):
    return name.upper()

In [30]:
to_upper('mohan')  # mohan - perameters

'MOHAN'

In [31]:
to_upper('venky')

'VENKY'

In [37]:
def multiply(a,b,c):
    res = sample_sum(a,b)
    print('res -',res)
    final_value = c * res
    print('final value-',final_value)
    return final_value

In [38]:
multiply(10,20,30) # 10+20 -> 30 * 30

res - 30
final value- 900

900

In [39]:
def to_upper(name):
    return name.upper()

In [40]:
to_upper('venkat','ravi')

TypeError: to_upper() takes 1 positional argument but 2 were given

In [41]:
to_upper()

TypeError: to_upper() missing 1 required positional argument: 'name'