# The map function takes function as a first argument and applies a given function to each item in the sequence

In [1]:
# map(fun,[1,2,3])

In [2]:
# Syntax:
    
# map(fun,sequence)

# sequence - list,tuple,set etc

In [3]:
def squre(num):
    return num * num

In [4]:
squre(5)

25

In [5]:
squre(3)

9

In [6]:
lst = [1,2,3,4,5,6,7,8,9]

In [9]:
result = map(squre,[1,2,3,4,5,6,7,8,9])

In [10]:
for i in result:
    print(i)

1
4
9
16
25
36
49
64
81

In [12]:
list(map(squre,[1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
map(squre,(1,2,3,4,5,6,7,8,9,10))

In [17]:
tuple(map(squre,range(1,21)))

(1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400)

In [19]:
list(map(lambda num:num*num,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

# The filter function takes other funtion as a first argument and applies the given condition to each item in the sequence

In [22]:
def even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [23]:
even(8)

True

In [24]:
even(7)

False

In [25]:
filter(even,[1,2,3,4,5,6,7,8,9,10])

In [26]:
list(filter(even,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [28]:
for i in filter(even,[1,2,3,4,5,6,7,8,9,10,11,20]):
    print(i)

2
4
6
8
10
20

In [29]:
1%2==0

False

In [30]:
8%2==0

True

In [31]:
list(filter(lambda num:num%2==0,(1,2,3,4,5,6)))

[2, 4, 6]

In [37]:
list(filter(lambda num:num%2 ==0,range(1,10)))

[2, 4, 6, 8]

# Reduce: it takes function as a first arugment and applies the given condition to return a consolidated result

In [38]:
# 1,2,3,4,5 -> 1+2+3+4+5 = 15

In [39]:
from functools import reduce

In [40]:
reduce(lambda x,y:x+y,[1,2,3,4,5])

15

In [42]:
reduce(lambda x,y:x+y,[2,3,4,5]) # x= 9, y= 5

14

In [44]:
reduce(lambda x,y:x+y,range(1,101))

5050

In [45]:
sum([1,2,3,4,5])

15