In [1]:
# Datbase Server - Postgresql, Mysql,oracle,SQL server, Mongodb

# PgAdmin (optional) -> Interface to communicate with databases and tables

# psycopg2 -> It is a python module to communicate with Databses and Tables

In [4]:
import psycopg2

In [8]:
conn = psycopg2.connect(host='127.0.0.1',user='postgres',password='root',port=5432,database='python')
cur = conn.cursor() # cursor is a mediator to transfor queries

# Create a table

In [7]:
cur.execute('create table aadhar(aadhar_id int,name varchar(100),age int,city varchar(100))')
conn.commit()
print('Table created')

Table created

# Insert into a table

In [20]:
insert_query = "insert into aadhar(aadhar_id,name,age,city) values('12349','srinu',41,'guntur')"
cur.execute(insert_query)
conn.commit()
print('data inserted')

data inserted

# Select all data from a table

In [13]:
cur.execute("select * from aadhar")
data = cur.fetchall()
data

[(12345, 'mohan', 31, 'guntur'),
 (12346, 'vasu', 35, 'guntur'),
 (12347, 'sree', 31, 'hyderabad'),
 (12348, 'ravi', 32, 'vijayawada')]

In [15]:
for row in data:
    print(row[1])

mohan
vasu
sree
ravi

# Select data based on the condition

In [17]:
cur.execute("select * from aadhar where aadhar_id='12345'")
data_ids = cur.fetchone()
data_ids

(12345, 'mohan', 31, 'guntur')

In [18]:
cur.execute("select * from aadhar where city='guntur'")
data_city = cur.fetchall()
data_city

[(12345, 'mohan', 31, 'guntur'), (12346, 'vasu', 35, 'guntur')]

In [19]:
cur.execute("select * from aadhar where city='guntur'")
data_city = cur.fetchone()
data_city

(12345, 'mohan', 31, 'guntur')

In [22]:
cur.execute("select * from aadhar where city='guntur' and age<45")
data_city = cur.fetchall()
data_city

[(12345, 'mohan', 31, 'guntur'),
 (12346, 'vasu', 35, 'guntur'),
 (12349, 'srinu', 41, 'guntur')]

# delete from a table

In [23]:
cur.execute("delete from aadhar where age=41")
conn.commit()
print('data deleted')

data deleted

# update data

In [24]:
cur.execute("update aadhar set age=33 where name='mohan'")
conn.commit()
print('data updated')

data updated

In [25]:
cur.execute("update aadhar set age=40")
conn.commit()
print('data updated')

data updated