# Reverse of a String

In [3]:
st = 'python'

In [4]:
# slicing

st[::-1]

'nohtyp'

In [7]:
res = ''

for char in st:
    res = char + res # 'p'+''->p ..> 'y' + 'p' ->yp
res

'nohtyp'

# Count no of occuranaces of a String/List/Tuple

In [13]:
lst = ['a','b','a','a','c','d','d','c']

In [19]:
# dict.fromkeys('aNVjvdjvdjdvsdvsdvsz',100)

{'a': 100,
 'N': 100,
 'V': 100,
 'j': 100,
 'v': 100,
 'd': 100,
 's': 100,
 'z': 100}

In [25]:
dt = dict.fromkeys(lst,0)

In [26]:
dt

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [27]:
lst

['a', 'b', 'a', 'a', 'c', 'd', 'd', 'c']

In [28]:
'a' in dt

True

In [31]:
dt['a']

3

In [30]:
for ele in lst:
    if ele in dt:  # 'a' in dt
        dt[ele] +=1  # dt['a'] = dt['a'] + 1
        
print(dt)

{'a': 3, 'b': 1, 'c': 2, 'd': 2}

# count of a given element

In [9]:
lst.count('a')

3

In [37]:
def count_fun(element,target):
    count = 0
    for value in target:
        if value == element:
            count +=1
    return count

In [12]:
count_fun('a')

3

In [34]:
s = 'python is a great lang and it is easy to learn'

In [40]:
for char in s:
    print('{} - {}'.format(char, count_fun(char,s)))

p - 1
y - 2
t - 4
h - 1
o - 2
n - 4
  - 10
i - 3
s - 3
  - 10
a - 6
  - 10
g - 2
r - 2
e - 3
a - 6
t - 4
  - 10
l - 2
a - 6
n - 4
g - 2
  - 10
a - 6
n - 4
d - 1
  - 10
i - 3
t - 4
  - 10
i - 3
s - 3
  - 10
e - 3
a - 6
s - 3
y - 2
  - 10
t - 4
o - 2
  - 10
l - 2
e - 3
a - 6
r - 2
n - 4

# Count no of lines,words and characters in a file

In [30]:
lines = 0
words = 0
chars = 0

f = open('test.txt','r')

lst = f.readlines()

for line in lst:
    print(line)
    lines = lines+1
    words = words + len(line.split(' '))
    chars = chars + len(line)
    
    print('lines -',lines)
    print('words -',words)
    print('chars -',chars)
    print('***********************')

line number is one

lines - 1
words - 4
chars - 19
***********************
line number two

lines - 2
words - 7
chars - 35
***********************
line number three

lines - 3
words - 10
chars - 53
***********************
line number four

lines - 4
words - 13
chars - 70
***********************
line number five

lines - 5
words - 16
chars - 87
***********************
line number six
lines - 6
words - 19
chars - 102
***********************

In [9]:
f.readlines()

['line number one\n',
 'line number two\n',
 'line number three\n',
 'line number four\n',
 'line number five\n',
 'line number six']

In [20]:
w = 'line number is one'.split(' ')

In [21]:
w

['line', 'number', 'is', 'one']

In [22]:
len(w)

4

In [27]:
name = 'abcdef'
len(name)

6

# Max/Min value from a list without using in-built funcations

In [7]:
lst = [4,5,2,3,1,23]

In [8]:
min(lst)

1

In [9]:
max(lst)

23

In [10]:
lst[0]

4

In [12]:
lst[1:]

[5, 2, 3, 1, 23]

In [11]:
maxi = lst[0]

for value in lst[1:]:
    if value > maxi:
        maxi = value
        
maxi

23

# Sort vs Sorted

In [14]:
# Sort

In [ ]:
l = [5,2,1,3,4]

In [15]:
l.sort()

In [16]:
l

[1, 2, 3, 4, 5]

In [ ]:
# Sorted

In [17]:
ll = [5,2,1,3,4]

In [18]:
sorted(ll)

[1, 2, 3, 4, 5]

In [19]:
ll

[5, 2, 1, 3, 4]

In [20]:
sorted([1,4,'a','b'])

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
str_lst = ['a','z','aa','aabb','aaa','aab']

In [22]:
sorted(str_lst)

['a', 'aa', 'aaa', 'aab', 'aabb', 'z']

In [23]:
sorted(str_lst, reverse=True)

['z', 'aabb', 'aab', 'aaa', 'aa', 'a']

In [24]:
sorted(str_lst,key=len)

['a', 'z', 'aa', 'aaa', 'aab', 'aabb']

In [25]:
sorted(['a','aaa','aa','bb','aaaa'])

['a', 'aa', 'aaa', 'aaaa', 'bb']

In [28]:
sorted(['a','aaa','aa','bb','aaaa'], key=len)

['a', 'aa', 'bb', 'aaa', 'aaaa']

# Prime Number

In [1]:
5 % 1

0

In [2]:
5 % 2

1

In [3]:
5 % 3

2

In [4]:
5 % 4

1

In [5]:
5 % 5

0

In [6]:
4%1

0

In [7]:
4%2

0

In [8]:
4%3

1

In [9]:
4%4

0

In [20]:
num = int(input('enter a number to check: '))

for i in range(2,num):  # range(2,6)
    if num%i == 0:      # 9 % 3 == 0 -> 0
        print('not a prime number')
        break
else:
    print('prime number',num)

enter a number to check: 9
not a prime number

In [21]:
6/2

3.0

In [19]:
6%2

0

# Remove duplicates from a list

In [1]:
lst = [1,2,1,3,1,2,1,4,2,1,5]

In [2]:
set(lst)

{1, 2, 3, 4, 5}

In [4]:
res = []

for value in lst:
    if value not in res:
        res.append(value)
        
res

[1, 2, 3, 4, 5]

# enumerate

In [7]:
lst = ['mohan','srinu','sai','vasu']

In [8]:
lst

['mohan', 'srinu', 'sai', 'vasu']

In [9]:
for name in lst:
    print(name)

mohan
srinu
sai
vasu

In [12]:
for i,j in enumerate(lst):
    print('Index -',i)
    print('Name - ',j)
    print('****************')

Index - 0
Name -  mohan
****************
Index - 1
Name -  srinu
****************
Index - 2
Name -  sai
****************
Index - 3
Name -  vasu
****************

# zip

In [4]:
l1 = ['a','b','c','z']
l2 = [1,2,3,4]
l3 = [11.11,12.12,13.13,14.14]

for i,j,k in zip(l1,l2,l3):
    print(i,j,k)

a 1 11.11
b 2 12.12
c 3 13.13
z 4 14.14

# How the two loops work

In [7]:
lst1 = [1,2]
lst2 = [4,5,6,7,8]

for i in lst1:
    for j in lst2:
        print(i,j)
    print('**********************')

1 4
1 5
1 6
1 7
1 8
**********************
2 4
2 5
2 6
2 7
2 8
**********************

# List Sorting

In [8]:
lst = [700,200,100,500,300,400,800,600,900]

#[1,2,3,4,5,6,7,8,9]

In [9]:
lst

[700, 200, 100, 500, 300, 400, 800, 600, 900]

In [10]:
for i in range(len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i] > lst[j]:
            lst[i],lst[j] = lst[j],lst[i]
            
lst

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [11]:
a = 100
b = 200

In [12]:
a

100

In [13]:
b

200

In [14]:
a,b = b,a

In [15]:
a

200

In [16]:
b

100